body {
  background-color: #283618;
  font-family: "Delius", cursive;
}

.container {
  margin: 110px auto;
  max-width: 500px;
  background: #fefae0;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

h1 {
  text-align: center;
  padding: 25px;
  font-family: "Montserrat", sans-serif;
  color: #606c38;
}

form {
  margin-bottom: 30px;
}

.prompt {
  padding: 14px;
  border: 2px solid #ffa69e;
  width: 50%;
  border-radius: 15px;
  font-family: "Delius", cursive;
}
.submit-button {
  margin-left: 5px;
  padding: 14px;
  border-radius: 15px;
  background-color: #ffa69e;
  color: white;
  border: 1px solid white;
  font-family: "Delius", cursive;
  opacity: 0.6;
  transition: 0.3s;
}
.submit-button:hover {
  background-color: #a4161b;
  color: #ffa69e;
  cursor: pointer;
}
.poem {
  line-height: 1.5;
  max-width: 300px;
  margin: 15px AUTO;
}
footer {
  font-size: 12px;
  padding: 20px;
  color: #606c38;
}

a {
  color: #c17d7c;
}
